
<div class="container">
  <div class="row header" >
    <h2>what is it for</h2>
    <p><span>C</span>ode <span>C</span>ompile <span>C</span>ompete is all about <span>Gamifying</span> your coding experience. CCC provides a platform for you to enjoy coding and helps you to reinforce your career.
    <br>
      CCC provides links for resources where you can clarify your queries.
    <br>
    <br>
    HAPPY CODING......
  </p>

  </div>
  <h2>clan</h2>
  <div class="row clan">
    
    <div class="col-6 col-md-4">
      <img src="../assets/clan.png" alt="">
    </div>
    <div class="col-6 col-md-8 ">
      
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non cum ipsum dolorem dignissimos eum quam illum praesentium libero magni veritatis corporis eaque itaque commodi iste nihil sed, vero magnam. Illum dolorem corporis nesciunt autem at cum esse quo! Soluta veritatis numquam quibusdam iusto voluptatibus eos fuga culpa rem ut assumenda?</p>

    </div>
  </div>
  <div class="row header">
    <h2>clan wars</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia itaque dolorum ipsa possimus voluptates corporis cupiditate, aliquam accusantium ut modi ipsam facilis repellat ea quo, nemo explicabo maiores, porro sapiente animi incidunt id suscipit eligendi. Dicta beatae facilis dolorem repudiandae facere similique provident officiis sed. Sequi nam repellendus iste obcaecati officiis consectetur! Non recusandae distinctio ipsum quis, fugiat esse illum nobis ipsa reiciendis? Minima ipsum laboriosam eos enim, eligendi nobis quae libero sequi sapiente impedit alias eveniet qui saepe atque odit dignissimos. Nam eius assumenda dicta hic, earum harum fugit magni, ducimus reprehenderit amet exercitationem dolores delectus non tempora quaerat.</p>
    <br>
    <br>
    <br>
    <h6>ALL YOU NEED IS...</h6>
  </div>
  <div class="row">
    <img src="../assets/Teamwork.jpg" alt="" width="100%;">
  </div>
  <h2>challenge a friend</h2>
  <div class="row challenge">
    <div class="col-sm-4">
      <img src="../assets/challenge.jpg" alt="" width="300px" height="300px">
    </div>
    <div class="col-sm-8 ">
     
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non cum ipsum dolorem dignissimos eum quam illum praesentium libero magni veritatis corporis eaque itaque commodi iste nihil sed, vero magnam. Illum dolorem corporis nesciunt autem at cum esse quo! Soluta veritatis numquam quibusdam iusto voluptatibus eos fuga culpa rem ut assumenda?</p>

    </div>
  </div>


  <h2>rapidfire</h2>
  <div class="row rapidfire">
    
    <div class="col-sm-8 ">
      
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non cum ipsum dolorem dignissimos eum quam illum praesentium libero magni veritatis corporis eaque itaque commodi iste nihil sed, vero magnam. Illum dolorem corporis nesciunt autem at cum esse quo! Soluta veritatis numquam quibusdam iusto voluptatibus eos fuga culpa rem ut assumenda?</p>

    </div>
    <div class="col-sm-4">
      <img src="../assets/rapidfire.png" alt="" width="300px" height="300px">
    </div>
  </div>
</div>