*{
    margin: 0;
    padding:0;
}
.container{
    margin: 0;
    min-width: 100%;
}
.example-card {
   
    max-width: 400px;
    margin: 15vh auto;
  }
.example-card:hover {
    transform: scaleY(1.05);
    box-shadow: 2px 2px 12px gray;
}
.about{
    width: 100%;
    align-items: center;
    justify-content: center;
}
.about button{
    background-color: rgb(95, 95, 223);
    color: white;
    font-size: 1rem;
    font-weight: 500;
    padding: 10px 15px;
}