<div class="container">
    <div class="row">
        <div class="col-3">
        <mat-card class="example-card">
           
            <img mat-card-image src="../assets/practice.png" alt="Photo of a Shiba Inu" height="350px">
            
           
          </mat-card>
          </div>
          <div class="col-3">
            <mat-card class="example-card">
                
                <img mat-card-image src="../assets/clan.png" alt="Photo of a Shiba Inu" height="350px">
                
               
              </mat-card>
          </div>
          <div class="col-3">
            <mat-card class="example-card">
                
                <img mat-card-image src="../assets/challenge.png" alt="Photo of a Shiba Inu" height="350px">
                
               
              </mat-card>
          </div>
          <div class="col-3">
            <mat-card class="example-card">
                
                <img mat-card-image src="../assets/rf.png" alt="Photo of a Shiba Inu" height="350px">
               
              </mat-card>
          </div>
    </div>

    <div class="row about">
      <button mat-raised-button routerLink = '/howto'>About CCC</button>
    </div>
</div>
